@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);









body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-j .mbr-section-title {
  font-size: 36px;
}
#footer1-n P {
  color: #ffffff;
}
#header5-q .mbr-section-title {
  color: #efefef;
}
#header5-q .mbr-section-lead {
  color: #d14841;
  font-family: 'Open Sans', sans-serif;
}
#header5-q .btn {
  font-family: 'Oswald', sans-serif;
}
#header5-q .mbr-section-lead SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #faaf40;
}
#ext_menu-l .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-l .navbar-caption {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
#ext_menu-l .navbar-toggler {
  color: #ffffff;
}
#ext_menu-l .close-icon::before,
#ext_menu-l .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-l .link,
#ext_menu-l .dropdown-item {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
#ext_menu-l .link {
  font-size: 0.75rem;
}
#ext_menu-l .dropdown-item,
#ext_menu-l .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-l .link:hover,
#ext_menu-l .dropdown-item:hover,
#ext_menu-l .link:focus,
#ext_menu-l .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-menu {
  background: #171c2c;
}
#ext_menu-l .nav-dropdown-sm .link:focus,
#ext_menu-l .nav-dropdown-sm .link:hover,
#ext_menu-l .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-l .nav-dropdown-sm .dropdown-item:hover {
  background: #232c44!important;
}
#ext_menu-l .navbar,
#ext_menu-l .nav-dropdown-sm,
#ext_menu-l .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-l .nav-dropdown-sm .dropdown-menu {
  background: #28324e;
}
#ext_menu-l .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-l .bg-color.transparent.opened .link:hover,
#ext_menu-l .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-l .link[aria-expanded="true"],
#ext_menu-l .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#ext_menu-l .btn {
  font-family: 'Roboto', sans-serif;
}





#header5-8c .mbr-section-title {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
#header5-8c .mbr-section-lead {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}
#header5-8c .mbr-section-lead SPAN {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}
#header5-8c .mbr-section-lead B {
  font-family: 'Montserrat', sans-serif;
}
#header5-8c .mbr-section-title SPAN {
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
}







#msg-box8-8g .mbr-section-title,
#msg-box8-8g p {
  color: #fff;
}
#msg-box8-8g .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-8g .mbr-section-title {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
}
#msg-box8-8g .lead P {
  font-size: 19px;
}
#msg-box2-8k .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8k .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8k .btn {
  font-size: 23px;
}
#msg-box2-8k .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8o .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8o .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8o .btn {
  font-size: 23px;
}
#msg-box2-8o .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8p .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8p .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8p .btn {
  font-size: 23px;
}
#msg-box2-8p .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8q .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8q .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8q .btn {
  font-size: 23px;
}
#msg-box2-8q .mbr-section-title SPAN {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}





#msg-box8-8r .mbr-section-title,
#msg-box8-8r p {
  color: #fff;
}
#msg-box8-8r .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-8r .mbr-section-title {
  color: #ffffff;
}
#msg-box8-8r .lead P {
  font-size: 19px;
}
#msg-box2-8s .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8s .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8s .btn {
  font-size: 23px;
}
#msg-box2-8s .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8t .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8t .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8t .btn {
  font-size: 23px;
}
#msg-box2-8t .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8u .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8u .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8u .btn {
  font-size: 23px;
}
#msg-box2-8u .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8v .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8v .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8v .btn {
  font-size: 23px;
}
#msg-box2-8v .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-8w .mbr-section-title,
#msg-box8-8w p {
  color: #fff;
}
#msg-box8-8w .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-8w .mbr-section-title {
  color: #ffffff;
}
#msg-box8-8w .lead P {
  font-size: 19px;
}
#msg-box2-8x .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8x .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8x .btn {
  font-size: 23px;
}
#msg-box2-8x .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8y .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8y .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8y .btn {
  font-size: 23px;
}
#msg-box2-8y .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-8z .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-8z .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-8z .btn {
  font-size: 23px;
}
#msg-box2-8z .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-90 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-90 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-90 .btn {
  font-size: 23px;
}
#msg-box2-90 .mbr-section-title SPAN {
  font-size: 22px;
}






#msg-box8-91 .mbr-section-title,
#msg-box8-91 p {
  color: #fff;
}
#msg-box8-91 .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-91 .mbr-section-title {
  color: #ffffff;
}
#msg-box8-91 .lead P {
  font-size: 19px;
}
#msg-box2-92 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-92 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-92 .btn {
  font-size: 23px;
}
#msg-box2-92 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-93 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-93 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-93 .btn {
  font-size: 23px;
}
#msg-box2-93 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-94 .mbr-section-title {
  color: #000000;
  font-size: 23px;
  text-align: left;
}
#msg-box2-94 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-94 .btn {
  font-size: 23px;
}
#msg-box2-94 .mbr-section-title SPAN {
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-95 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-95 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-95 .btn {
  font-size: 23px;
}
#msg-box2-95 .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-96 .mbr-section-title,
#msg-box8-96 p {
  color: #fff;
}
#msg-box8-96 .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-96 .mbr-section-title {
  color: #ffffff;
}
#msg-box8-96 .lead P {
  font-size: 19px;
}
#msg-box2-97 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-97 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-97 .btn {
  font-size: 23px;
}
#msg-box2-97 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-98 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-98 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-98 .btn {
  font-size: 23px;
}
#msg-box2-98 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-99 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-99 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-99 .btn {
  font-size: 23px;
}
#msg-box2-99 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9a .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9a .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9a .btn {
  font-size: 23px;
}
#msg-box2-9a .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-9b .mbr-section-title,
#msg-box8-9b p {
  color: #fff;
}
#msg-box8-9b .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-9b .mbr-section-title {
  color: #ffffff;
}
#msg-box8-9b .lead P {
  font-size: 19px;
}
#msg-box2-9c .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9c .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9c .btn {
  font-size: 23px;
}
#msg-box2-9c .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9d .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9d .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9d .btn {
  font-size: 23px;
}
#msg-box2-9d .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9e .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9e .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9e .btn {
  font-size: 23px;
}
#msg-box2-9e .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9f .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9f .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9f .btn {
  font-size: 23px;
}
#msg-box2-9f .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-9g .mbr-section-title,
#msg-box8-9g p {
  color: #fff;
}
#msg-box8-9g .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-9g .mbr-section-title {
  color: #ffffff;
}
#msg-box8-9g .lead P {
  font-size: 19px;
}
#msg-box2-9h .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9h .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9h .btn {
  font-size: 23px;
}
#msg-box2-9h .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9i .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9i .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9i .btn {
  font-size: 23px;
}
#msg-box2-9i .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9j .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9j .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9j .btn {
  font-size: 23px;
}
#msg-box2-9j .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9k .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9k .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9k .btn {
  font-size: 23px;
}
#msg-box2-9k .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-9l .mbr-section-title,
#msg-box8-9l p {
  color: #fff;
}
#msg-box8-9l .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-9l .mbr-section-title {
  color: #ffffff;
}
#msg-box8-9l .lead P {
  font-size: 19px;
}
#msg-box2-9m .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9m .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9m .btn {
  font-size: 23px;
}
#msg-box2-9m .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9n .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9n .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9n .btn {
  font-size: 23px;
}
#msg-box2-9n .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9o .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9o .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9o .btn {
  font-size: 23px;
}
#msg-box2-9o .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9p .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9p .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9p .btn {
  font-size: 23px;
}
#msg-box2-9p .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-9q .mbr-section-title,
#msg-box8-9q p {
  color: #fff;
}
#msg-box8-9q .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-9q .mbr-section-title {
  color: #ffffff;
}
#msg-box8-9q .lead P {
  font-size: 19px;
}
#msg-box2-9r .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9r .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9r .btn {
  font-size: 23px;
}
#msg-box2-9r .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9s .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9s .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9s .btn {
  font-size: 23px;
}
#msg-box2-9s .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9t .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9t .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9t .btn {
  font-size: 23px;
}
#msg-box2-9t .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9u .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9u .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9u .btn {
  font-size: 23px;
}
#msg-box2-9u .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-9v .mbr-section-title,
#msg-box8-9v p {
  color: #fff;
}
#msg-box8-9v .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-9v .mbr-section-title {
  color: #ffffff;
}
#msg-box8-9v .lead P {
  font-size: 19px;
}
#msg-box2-9w .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9w .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9w .btn {
  font-size: 23px;
}
#msg-box2-9w .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9x .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9x .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9x .btn {
  font-size: 23px;
}
#msg-box2-9x .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9y .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9y .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9y .btn {
  font-size: 23px;
}
#msg-box2-9y .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-9z .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-9z .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-9z .btn {
  font-size: 23px;
}
#msg-box2-9z .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-aa .mbr-section-title,
#msg-box8-aa p {
  color: #fff;
}
#msg-box8-aa .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-aa .mbr-section-title {
  color: #ffffff;
}
#msg-box8-aa .lead P {
  font-size: 19px;
}
#msg-box2-ab .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-ab .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-ab .btn {
  font-size: 23px;
}
#msg-box2-ab .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-ac .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-ac .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-ac .btn {
  font-size: 23px;
}
#msg-box2-ac .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-ad .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-ad .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-ad .btn {
  font-size: 23px;
}
#msg-box2-ad .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-ae .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-ae .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-ae .btn {
  font-size: 23px;
}
#msg-box2-ae .mbr-section-title SPAN {
  font-size: 22px;
}





#msg-box8-a5 .mbr-section-title,
#msg-box8-a5 p {
  color: #fff;
}
#msg-box8-a5 .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#msg-box8-a5 .mbr-section-title {
  color: #ffffff;
}
#msg-box8-a5 .lead P {
  font-size: 19px;
}
#msg-box2-a6 .mbr-section-title {
  color: #000000;
  font-size: 22px;
  text-align: left;
}
#msg-box2-a6 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-a6 .btn {
  font-size: 23px;
}
#msg-box2-a6 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-a7 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-a7 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-a7 .btn {
  font-size: 23px;
}
#msg-box2-a7 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-a8 .mbr-section-title {
  color: #000000;
  font-size: 22px;
  text-align: left;
}
#msg-box2-a8 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-a8 .btn {
  font-size: 23px;
}
#msg-box2-a8 .mbr-section-title SPAN {
  font-size: 22px;
}
#msg-box2-a9 .mbr-section-title {
  color: #000000;
  font-size: 30px;
  text-align: left;
}
#msg-box2-a9 .mbr-section-subtitle {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#msg-box2-a9 .btn {
  font-size: 23px;
}
#msg-box2-a9 .mbr-section-title SPAN {
  font-size: 22px;
}




#msg-box8-7l .mbr-section-title,
#msg-box8-7l p {
  color: #fff;
}
#msg-box8-7l .lead P {
  text-align: center;
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}
#msg-box8-7l .mbr-section-title {
  color: #efefef;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}
#msg-box8-7l .mbr-section-title SPAN {
  font-family: 'Raleway', sans-serif;
}
#form1-7v .form-control-label {
  color: #efefef;
}
#slider-7p .btn {
  font-size: 48px;
}
#slider-7p H2 {
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  font-size: 72px;
  text-align: center;
}
#msg-box3-7t .mbr-section-title,
#msg-box3-7t p {
  color: #000;
}


#header1-ah .mbr-section-title {
  font-size: 60px;
}
#header1-ah .mbr-section-lead SPAN {
  font-family: 'Raleway', sans-serif;
}
#header1-ah .mbr-section-lead {
  font-family: 'Raleway', sans-serif;
}

#header1-ai .mbr-section-title {
  font-size: 80px;
}
#header1-ai .mbr-section-lead SPAN {
  font-family: 'Raleway', sans-serif;
}






#header4-82 .mbr-section-lead {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#header4-82 .mbr-section-lead SPAN {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}
#header4-82 .mbr-section-title {
  font-family: 'Indie Flower', cursive;
}
#msg-box1-7z SPAN {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#msg-box1-7z H3 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}
#msg-box1-7z .btn {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}





#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 0.75rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-15 .btn SPAN {
  font-family: 'Montserrat', sans-serif;
}
#header5-az .mbr-section-title {
  color: #222222;
  font-family: 'Open Sans Condensed', sans-serif;
}
#header5-az .mbr-section-lead {
  color: #eb6b56;
  font-family: 'Raleway', sans-serif;
}
#msg-box2-b4 .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-b4 .mbr-section-subtitle {
  color: #00a885;
  font-family: 'Raleway', sans-serif;
}
#msg-box2-b6 .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#msg-box2-b6 .mbr-section-subtitle {
  color: #00a885;
  font-family: 'Raleway', sans-serif;
}

#msg-box8-bi .mbr-section-title,
#msg-box8-bi p {
  color: #fff;
}
#msg-box8-bi .mbr-section-title {
  font-size: 46px;
  text-align: center;
}
#msg-box8-bi .lead P {
  font-size: 17px;
}
#header3-bj .mbr-section-title,
#header3-bj .mbr-section-subtitle {
  text-align: center;
}
#header3-bj SPAN {
  color: #3d8eb9;
}
#header3-bj .mbr-section-title {
  font-size: 48px;
}
#header1-c0 .mbr-section-title {
  color: #ffffff;
}
#msg-box5-bu P {
  text-align: left;
}
#msg-box5-bu H3 {
  text-align: left;
}
#msg-box5-bv P {
  text-align: left;
}
#msg-box5-bv H3 {
  text-align: left;
}
#msg-box5-bw P {
  text-align: left;
}
#msg-box5-bw H3 {
  text-align: left;
}
#msg-box5-bx P {
  text-align: left;
}
#msg-box5-bx H3 {
  text-align: left;
}
#msg-box5-by P {
  text-align: left;
}
#msg-box5-by H3 {
  text-align: left;
}
#msg-box5-c1 P {
  text-align: left;
}
#msg-box5-c1 H3 {
  text-align: left;
}
#msg-box5-c2 P {
  text-align: left;
}
#msg-box5-c2 H3 {
  text-align: left;
}
#msg-box5-c3 P {
  text-align: left;
}
#msg-box5-c3 H3 {
  text-align: left;
}
#msg-box5-c4 P {
  text-align: left;
}
#msg-box5-c4 H3 {
  text-align: left;
}
#msg-box5-c5 P {
  text-align: left;
}
#msg-box5-c5 H3 {
  text-align: left;
}
#msg-box5-c6 P {
  text-align: left;
}
#msg-box5-c6 H3 {
  text-align: left;
}
#header1-c8 .mbr-section-title {
  color: #ffffff;
}
#form1-bq .form-control-label {
  color: #efefef;
}
#form1-bq .mbr-section-title {
  color: #ffffff;
}
#form1-bq SMALL {
  color: #ffffff;
}
#footer1-br P {
  color: #ffffff;
}
#menu-bs .hide-buttons .nav-btn {
  display: none !important;
}
#menu-bs .navbar-caption {
  color: #ffffff;
}
#menu-bs .navbar-toggler {
  color: #ffffff;
}
#menu-bs .close-icon::before,
#menu-bs .close-icon::after {
  background-color: #ffffff;
}
#menu-bs .link,
#menu-bs .dropdown-item {
  color: #ffffff;
}
#menu-bs .link {
  font-size: 0.75rem;
}
#menu-bs .dropdown-item,
#menu-bs .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-bs .link:hover,
#menu-bs .dropdown-item:hover,
#menu-bs .link:focus,
#menu-bs .dropdown-item:focus {
  color: #c0a375;
}
#menu-bs .link[aria-expanded="true"],
#menu-bs .dropdown-menu {
  background: #0e0e0e;
}
#menu-bs .nav-dropdown-sm .link:focus,
#menu-bs .nav-dropdown-sm .link:hover,
#menu-bs .nav-dropdown-sm .dropdown-item:focus,
#menu-bs .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-bs .navbar,
#menu-bs .nav-dropdown-sm,
#menu-bs .nav-dropdown-sm .link[aria-expanded="true"],
#menu-bs .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-bs .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-bs .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-bs .bg-color.transparent.opened .link:hover,
#menu-bs .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-bs .link[aria-expanded="true"],
#menu-bs .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-bs .btn SPAN {
  font-family: 'Montserrat', sans-serif;
}

#msg-box8-14 .mbr-section-title,
#msg-box8-14 p {
  color: #fff;
}
#msg-box8-14 .mbr-section-title {
  font-size: 46px;
  text-align: center;
}
#msg-box8-14 .lead P {
  font-size: 17px;
}
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 0.75rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-15 .btn SPAN {
  font-family: 'Montserrat', sans-serif;
}
#header3-18 .mbr-section-title,
#header3-18 .mbr-section-subtitle {
  text-align: center;
}
#header3-18 SPAN {
  color: #3d8eb9;
}
#msg-box5-2o P {
  text-align: left;
}
#msg-box5-2o H3 {
  font-size: 24px;
  text-align: left;
  color: #000000;
}
#content1-2q DIV {
  color: #232323;
  font-size: 17px;
}
#slider-2x P {
  text-align: left;
}
#slider-2x H2 {
  font-size: 60px;
}
#content1-2r P {
  font-size: 24px;
  color: #000000;
}
#msg-box3-4z .mbr-section-title,
#msg-box3-4z p {
  color: #000;
}
#footer1-n P {
  color: #ffffff;
}
#form1-2a .form-control-label {
  color: #efefef;
}
#form1-2a .mbr-section-title {
  color: #ffffff;
}
#form1-2a SMALL {
  color: #ffffff;
}

#msg-box8-4d .mbr-section-title,
#msg-box8-4d p {
  color: #fff;
}
#msg-box8-4d .mbr-section-title {
  font-size: 46px;
  text-align: center;
}
#msg-box8-4d .lead P {
  font-size: 17px;
}
#header3-4y .mbr-section-title,
#header3-4y .mbr-section-subtitle {
  text-align: center;
}
#header3-4y SPAN {
  color: #3d8eb9;
}
#msg-box5-4h P {
  text-align: left;
}
#msg-box5-4h H3 {
  font-size: 24px;
  text-align: left;
  color: #000000;
}
#content1-4i DIV {
  color: #232323;
  font-size: 17px;
}
#slider-4k P {
  text-align: left;
}
#slider-4k H2 {
  font-size: 60px;
}
#content1-4l P {
  font-size: 24px;
  color: #000000;
}
#msg-box3-50 .mbr-section-title,
#msg-box3-50 p {
  color: #000;
}
#form1-4n .form-control-label {
  color: #efefef;
}
#form1-4n .mbr-section-title {
  color: #ffffff;
}
#form1-4n SMALL {
  color: #ffffff;
}
#footer1-n P {
  color: #ffffff;
}
#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
}
#menu-15 .link {
  font-size: 0.75rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #0e0e0e;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-15 .btn SPAN {
  font-family: 'Montserrat', sans-serif;
}
